@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-1 {
  @apply hover:bg-red-950 px-10 py-3 focus:ring-4 focus:ring-red-300 rounded-full text-xl text-white bg-blue-950;
}
.btn-2 {
  @apply px-10 py-3 text-center  text-red-500 border-2 border-red-500 hover:bg-red-950 hover:text-white rounded-full text-xl;
}
.btn-3 {
  @apply w-full py-3 rounded-lg border-2  border-red-500 cursor-pointer font-medium bg-red-950 text-white;
}
.input {
  @apply w-full px-4 py-3 rounded-lg ring-red-200 focus:ring-4 focus:outline-none  transition duration-300 border border-gray-300 focus:shadow-xl my-3;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
